.logo-clouds {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  padding: px 165px;
  position: relative;
  background-color: var(--text-gray-100);
}

.logo-clouds .section-heading {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.logo-clouds .section-title-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.logo-clouds .section-title {
  position: relative;
  width: 1110px;
  margin-top: -1.00px;
  font-family: "Manrope-ExtraBold", Helvetica;
  font-weight: 800;
  color: var(--text-gray-900);
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 64px;
}

.logo-clouds .description {
  position: relative;
  align-self: stretch;
  font-family: "Manrope-Medium", Helvetica;
  font-weight: 500;
  color: var(--text-gray-900);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
}

.logo-clouds .logos {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
  padding: 0 247px;
}

.logo-clouds .col {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.logo-clouds .div {
  position: relative;
  width: 170px;
  height: 96px;
  background-color: var(--default-white);
  border-radius: 16px;
  box-shadow: var(--grey-shadow);
}

.logo-clouds .image {
  width: 134px;
  height: 67px;
  top: 15px;
  left: 18px;
  position: absolute;
  object-fit: cover;
}

.logo-clouds .img {
  width: 122px;
  height: 61px;
  top: 18px;
  left: 24px;
  position: absolute;
  object-fit: cover;
}

.logo-clouds .bookmyshow-logo {
  position: relative;
  width: 123px;
  height: 37px;
  top: 30px;
  left: 24px;
}

.logo-clouds .group {
  position: absolute;
  width: 121px;
  height: 35px;
  top: 1px;
  left: 1px;
}

.logo-clouds .image-2 {
  position: absolute;
  width: 132px;
  height: 66px;
  top: 15px;
  left: 19px;
  object-fit: cover;
}

.logo-clouds .frame {
  display: flex;
  width: 167px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  top: 22px;
  left: 2px;
}

.logo-clouds .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  color: #f84646;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.logo-clouds .arrow-right {
  position: relative;
  width: 16px;
  height: 16px;
  background-image: url(./img/arrow-right.png);
  background-size: 100% 100%;
}

.logo-clouds .image-3 {
  width: 118px;
  height: 59px;
  top: 19px;
  left: 26px;
  position: absolute;
  object-fit: cover;
}

.logo-clouds .OLA-logo {
  position: relative;
  width: 98px;
  height: 34px;
  top: 31px;
  left: 36px;
  background-image: url(./img/image.png);
  background-size: 100% 100%;
}

.logo-clouds .amazon-logo {
  position: absolute;
  width: 103px;
  height: 32px;
  top: 32px;
  left: 34px;
}
