.logo-clouds {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 59px 165px;
    top: 3583px;
    left: 0;
    background-color: #F4F5F7;
}
 
.section-heading-22 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
}
 
.section-title-2 {
    position: relative;
    width: 1110px;
    margin-top: -1.00px;
    font-family: "Manrope", Sans-serif;
    font-weight: 800;
    color: var(#18191F);
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: 64px;
}
 
.description-2 {
    position: relative;
    align-self: stretch;
    font-family: "Manrope", Sans-serif;
    font-weight: 500;
    color: var(#18191F);
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 32px;
}
 
.logos {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
    width: 946px;
    height: 336px;
    padding-bottom: 59px;
}
 
.col {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}
 
.div-2 {
    position: relative;
    width: 170px;
    height: 96px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 30px 40px 0px rgba(212, 217, 232, 0.2);
}
 
.image-2 {
    width: 134px;
    height: 67px;
    top: 15px;
    left: 18px;
    position: absolute;
    object-fit: cover;
}
 
.image-3 {
    width: 122px;
    height: 61px;
    top: 18px;
    left: 24px;
    position: absolute;
    object-fit: cover;
}
 
.bookmyshow-logo {
    position: relative;
    width: 123px;
    height: 37px;
    top: 30px;
    left: 24px;
}
 
.group-9 {
    position: absolute;
    width: 121px;
    height: 35px;
    top: 1px;
    left: 1px;
}
 
.image-4 {
    position: absolute;
    width: 132px;
    height: 66px;
    top: 15px;
    left: 19px;
    object-fit: cover;
}
 
.image-5 {
    position: absolute;
    width: 132px;
    height: 66px;
    top: 15px;
    left: 19px;
    object-fit: cover;
}
 
.frame-3 {
    display: flex;
    width: 167px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    top: 22px;
    left: 2px;
}
 
.text-wrapper-20 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Manrope", Sans-serif;
    font-weight: 600;
    color: #f84646;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
}
 
.image-6 {
    position: relative;
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
}
 
.image-7 {
    width: 118px;
    height: 59px;
    top: 19px;
    left: 26px;
    position: absolute;
    object-fit: cover;
}
 
.image-8 {
    position: relative;
    width: 98px;
    height: 34px;
    top: 31px;
    left: 36px;
    background-size: 100% 100%;
}
 
.image-9 {
    position: absolute;
    width: 103px;
    height: 32px;
    top: 32px;
    left: 34px;
}