.quality-process {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #fff;
  width: 100%;

  &__container {
    max-width: 1153px;
    margin: 0 auto;
    padding: 0 143px;
  }

  &__title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto 3rem;
    color: #333;
    font-size: 24px;
    font-weight: 400;
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }

  &__item {
    
    padding: 2rem;
    border-radius: 1rem;
    
    text-align: center;

    &-title {
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: 600;
    }

    &-text {
      margin-top: 0.5rem;
      font-size: 0.95rem;
      color: #555;
    }
  }

  &__icon {
    width: 76px;
    height: 76px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;

    &--doc {
      background-image: url('../images/icons/doc.svg');
    }

    &--accept {
      background-image: url('../images/icons/star.svg');
    }

    &--rules {
      background-image: url('../images/icons/crown.svg');
    }

    &--flow {
      background-image: url('../images/icons/chart.svg');
    }

    &--stakeholder {
      background-image: url('../images/icons/pie.svg');
    }

    &--prototype {
      background-image: url('../images/icons/figma.svg');
    }
  }
}

@media (max-width: 768px) {
  .quality-process {
    padding: 3rem 20px; 

    &__container {
      padding: 0; 
    }

    &__title {
      font-size: 2rem;
    }

    &__description {
      font-size: 1rem;
      margin-bottom: 2rem;
    }

    &__features {
      grid-template-columns: 1fr; // 1 cột
      gap: 2.5rem;
    }

    &__item {
      padding: 1rem;

      &-title {
        font-size: 1.1rem;
      }

      &-text {
        font-size: 0.95rem;
      }
    }

    &__icon {
      width: 64px;
      height: 64px;
    }
  }
}

